<div class="top-banner d-flex align-items-center justify-content-left pl-3 pl-lg-5">
<div class="form-group">
<h2 class="logAndSign">Create New Listing</span></h2>
</div>
<div class="container-fluid" id="mainCont">
    <div class="container" id="loginCont">
        <div class="row align-items-center" id="login">
            <div class="col-md-2 col-lg-3">
                <!-- Placeholder.-->
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                <form ref='uploadForm' id='uploadForm' action='upload' method='post' encType="multipart/form-data">
                    <div class="form-group">
                        <label for="titleFormControlInput">Title for listing</label>
                        <input name="titleInput" type="text" class="form-control" id="titleFormControlInput">
                    </div>
                    <div class="form-group">
                        <label for="priceFormControlInput">Asking price</label>
                        <input name="priceInput" type="text" class="form-control" id="priceFormControlInput">
                    </div>
                    <div class="form-group">
                        <label for="categoryFormControlSelect">Select a category</label>
                        <select name="categoryInput" class="form-control" id="categoryFormControlSelect">
                            <option>--Select--</option>
                            <option>Appliances</option>
                            <option>Auto</option>                            
                            <option>Books</option>
                            <option>Electronics</option>
                            <option>Furniture</option>
                            <option>Instruments</option>
                            <option>Jewelry</option>
                            <option>Toys</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="infoFormControlTextarea">Enter item description</label>
                        <textarea name="infoInput" class="form-control" id="infoFormControlTextarea" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="zipFormControlInput">Location</label>
                        <input name="zipInput" type="text" class="form-control" id="zipFormControlInput">
                    </div>
                    <div class="form-group">
                        <label for="uploadFormControlFile">Upload an image</label>
                        <input type="file" class="form-control-file" id="uploadFormControlFile" name="sampleFile">
                    </div>
                    <button type="submit" class="btn btn-outline-primary" id="loginBtn" value='Upload!'>Post Item</button>
                </form>
            </div>
            <div class="col-md-2 col-lg-3">
                <!-- Placeholder.-->
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="bottom-banner">
</div>