
		<div class="is-preload">
			<div class="navbar">
					
			  <a class="logo"><i class="fas fa-dollar-sign"></i></i> </a> 
			  <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a> 
			  <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
			  <a href="#"><i class="fa fa-fw fa-user"></i> Logout</a>
			</div>
			
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">

						<!-- Items -->
							<div class="items">

								<div class="item intro span-2">
									<h1>ThingsForSell</h1>
									<p>Sell anything you want.<br />
										</p>
								</div>

								<article class="item thumb span-1">
									<h2>You really got me</h2>
									<a href="images/fulls/01.jpg" class="image"><img src="images/thumbs/01.jpg" alt=""></a>
								</article>

								<article class="item thumb span-2">
									<h2>Ad Infinitum</h2>
									<a href="images/fulls/02.jpg" class="image"><img src="images/thumbs/02.jpg" alt=""></a>
								</article>

								<article class="item thumb span-1">
									<h2>Different.</h2>
									<a href="images/fulls/03.jpg" class="image"><img src="images/thumbs/03.jpg" alt=""></a>
								</article>

								<article class="item thumb span-1">
									<h2>Elysium</h2>
									<a href="images/fulls/04.jpg" class="image"><img src="images/thumbs/04.jpg" alt=""></a>
								</article>

								<article class="item thumb span-3">
									<h2>Kingdom of the Wind</h2>
									<a href="images/fulls/05.jpg" class="image"><img src="images/thumbs/05.jpg" alt=""></a>
								</article>

								<article class="item thumb span-1">
									<h2>The Pursuit</h2>
									<a href="images/fulls/06.jpg" class="image"><img src="images/thumbs/06.jpg" alt=""></a>
								</article>

								<article class="item thumb span-2">
									<h2>Boundless</h2>
									<a href="images/fulls/07.jpg" class="image"><img src="images/thumbs/07.jpg" alt=""></a>
								</article>

								<article class="item thumb span-2">
									<h2>The Spectators</h2>
									<a href="images/fulls/08.jpg" class="image"><img src="images/thumbs/08.jpg" alt=""></a>
								</article>

							</div>

						<!-- Items -->
							<div class="items">

								<article class="item thumb span-3"><h2>Kingdom of the Wind</h2><a href="images/fulls/05.jpg" class="image"><img src="images/thumbs/05.jpg" alt=""></a></article>
								<article class="item thumb span-1"><h2>The Pursuit</h2><a href="images/fulls/06.jpg" class="image"><img src="images/thumbs/06.jpg" alt=""></a></article>
								<article class="item thumb span-2"><h2>Boundless</h2><a href="images/fulls/07.jpg" class="image"><img src="images/thumbs/07.jpg" alt=""></a></article>
								<article class="item thumb span-2"><h2>The Spectators</h2><a href="images/fulls/08.jpg" class="image"><img src="images/thumbs/08.jpg" alt=""></a></article>
								<article class="item thumb span-1"><h2>You really got me</h2><a href="images/fulls/01.jpg" class="image"><img src="images/thumbs/01.jpg" alt=""></a></article>
								<article class="item thumb span-2"><h2>Ad Infinitum</h2><a href="images/fulls/02.jpg" class="image"><img src="images/thumbs/02.jpg" alt=""></a></article>
								<article class="item thumb span-1"><h2>Different.</h2><a href="images/fulls/03.jpg" class="image"><img src="images/thumbs/03.jpg" alt=""></a></article>
								<article class="item thumb span-2"><h2>Kingdom of the Wind</h2><a href="images/fulls/05.jpg" class="image"><img src="images/thumbs/05.jpg" alt=""></a></article>
								<article class="item thumb span-1"><h2>Elysium</h2><a href="images/fulls/04.jpg" class="image"><img src="images/thumbs/04.jpg" alt=""></a></article>

							</div>

					</section>

				<!-- Footer -->
					<section id="footer">
						<section>
							<p> <strong>Things for Sell</strong></p>
						
						</section>
						<section>
							<ul class="icons">
								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
								<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							
						</section>
					</section>

			</div>

		
</div>