<header>
    <!-- navbar -->
    <nav class="navbar d-flex align-items-center justify-content-left pl-3 pl-lg-5">
      <h1 id="logo" class="text-teal">Things4Sale</h1>
    </nav>
    <!-- end of navbar -->

    <div class="top-banner d-flex align-items-center justify-content-left pl-3 pl-lg-5">
      <div>
        <h1 class="text-capitalize text-yellow text display-4">about us</h1>
        <p class="text-muted text-capitalize w-75 text-left">Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Sit iste nostrum cupiditate obcaecati aliquid fuga eaque incidunt deserunt inventore beatae!
        </p>
      </div>
    </div>
  </header>

  <!-- products -->
  <section class="products">
    <div class="container-fluid">
      <div class="row">
        <!-- product info -->
        <div class="col-10 col-md-5 col-lg-3 mx-auto my-3 px-5 text-capitalize">
          <!-- categories -->
          <div class="products-categories-title mt-4 mb-4">
            <h5 class="text-uppercase">shop by categories</h5>
            <div class="products-categories-underline"></div>
          </div>
          <a href="#" class=" d-block products-categories-links">
            <p class="mb-0">Auto</p>
          </a>
          <!-- single link -->
          <a href="#" class=" d-block products-categories-links">
            <p class="mb-0">Books</p>
          </a>
          <!-- single link -->
          <a href="#" class=" d-block products-categories-links">
            <p class="mb-0">furniture</p>
          </a>
          <!-- single link -->
          <a href="#" class=" d-block products-categories-links">
            <p class="mb-0">electronics</p>
          </a>
          <!-- single link -->
          <a href="#" class="d-block products-categories-links">
            <p class="mb-0">instruments</p>
          </a>
          <!-- single link -->
          <a href="#" class=" d-block products-categories-links">
            <p class="mb-0">appliances</p>
          </a>
          <!-- single link -->
          <a href="#" class=" d-block products-categories-links">
            <p class="mb-0">jewelry</p>
          </a>

          <!-- create listing -->
          <div class="products-categories-title mt-4 mb-4">
            <span class="btn btn-yellow" data-toggle="modal" data-target="#createNewListing">Create New Listing</span>
          </div>

          <!-- remove listing -->
          <div class="products-categories-title mt-4 mb-4">
            <span class="btn btn-yellow" data-toggle="modal" data-target="#removeListing">Remove Listing</span>
          </div>
        </div>
        <!-- end of product info -->

        <!-- products  -->
        <div class="col-10 mx-auto col-md-7 col-lg-9 my-3">
          <div class="row">
            <!-- single product -->
            <div class=" col-md-6 col-lg-4 mx-auto my-3">
              <div class="featured-container p-5">
                <img src="img/img-products/product-1.png" class="img-fluid" alt="">
                <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
                  <i class="fas fa-search"></i>
                </span>
              </div>
              <h6 class="text-capitalize text-center my-2">Item name</h6>
              <h6 class="text-center">Item price</h6>

            </div>
            <!-- end of single product -->
            <!-- single product -->
            <div class=" col-md-6 col-lg-4 mx-auto my-3">
              <div class="featured-container p-5">
                <img src="img/img-products/product-2.png" class="img-fluid" alt="">
                <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
                  <i class="fas fa-search"></i>
                </span>
              </div>
              <h6 class="text-capitalize text-center my-2">Item name</h6>
              <h6 class="text-center">Item price</h6>

            </div>
            <!-- end of single product -->
            <!-- single product -->
            <div class=" col-md-6 col-lg-4 mx-auto my-3">
              <div class="featured-container p-5">
                <img src="img/img-products/product-3.png" class="img-fluid" alt="">
                <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
                  <i class="fas fa-search"></i>
                </span>
              </div>
              <h6 class="text-capitalize text-center my-2">Item name</h6>
              <h6 class="text-center">Item price</h6>

            </div>
            <!-- end of single product -->
            <!-- single product -->
            <div class=" col-md-6 col-lg-4 mx-auto my-3">
              <div class="featured-container p-5">
                <img src="img/img-products/product-4.png" class="img-fluid" alt="">
                <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
                  <i class="fas fa-search"></i>
                </span>
              </div>
              <h6 class="text-capitalize text-center my-2">Item name</h6>
              <h6 class="text-center">Item price</h6>

            </div>
            <!-- end of single product -->
            <!-- single product -->
            <div class=" col-md-6 col-lg-4 mx-auto my-3">
              <div class="featured-container p-5">
                <img src="img/img-products/product-5.png" class="img-fluid" alt="">
                <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
                  <i class="fas fa-search"></i>
                </span>
              </div>
              <h6 class="text-capitalize text-center my-2">Item name</h6>
              <h6 class="text-center">Item price</h6>

            </div>
            <!-- end of single product -->
            <!-- single product -->
            <div class=" col-md-6 col-lg-4 mx-auto my-3">
              <div class="featured-container p-5">
                <img src="img/img-products/product-6.png" class="img-fluid" alt="">
                <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
                  <i class="fas fa-search"></i>
                </span>
              </div>
              <h6 class="text-capitalize text-center my-2">Item name</h6>
              <h6 class="text-center">Item price</h6>

            </div>
            <!-- end of single product -->
          </div>
        </div>
        <!-- end of products  -->
      </div>
    </div>
  </section>
  <!-- end of products -->

  <!-- bottom banner -->
  <div class="bottom-banner">
  </div>
  <!-- end of bottom banner -->

  <!-- footer -->
  <footer class="py-5 footer">
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto text-center">
          <h1 class="text-uppercase font-weight-bold text-yellow footer-title text-center d-inline-block mx-auto">things4sale</h1>
          <h1 class="text-capitalize font-weight-bold display-4">contact us</h1>
          <div class="footer-icons my-5 d-flex justify-content-center">
            <!-- single icon -->
            <a href="#" class="footer-icon mx-2">
              <i class="fab fa-github"></i>
            </a>
            <!-- end of single icon -->
          </div>
          <!-- end of footer icons -->

          <div class="footer-contact mt-5 d-flex justify-content-around flex-wrap">
            <!-- single contact -->
            <div>
              <p class="text-capitalize">
                <span class="footer-icon mr-2">
                  <i class="fas fa-map"></i>
                </span>
                123 main street, Houston
              </p>

            </div>
            <!--end of single contact -->
            <!-- single contact -->
            <div>
              <p class="text-capitalize">
                <span class="footer-icon mr-2">
                  <i class="fas fa-phone"></i>
                </span>
                phone : +(310) 111 2222
              </p>

            </div>
            <!--end of single contact -->
            <!-- single contact -->
            <div>
              <p class="text-capitalize">
                <span class="footer-icon mr-2">
                  <i class="fas fa-envelope"></i>
                </span>
                email : email@email.com
              </p>

            </div>
            <!--end of single contact -->
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Modal for create new listings -->
  <div class="modal fade" id="createNewListing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title text-capitalize">Create new listing</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
          <form action="users/createUser" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" id="validationDefault03" placeholder="Item name" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="validationDefault03" placeholder="Asking price" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" id="exampleTextarea" placeholder="Item description" rows="3"></textarea>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6 mb-2">
                <input type="text" class="form-control" id="validationDefault01" placeholder="First name" value="First name" required>
              </div>
              <div class="form group col-md-6 mb-2">
                <input type="text" class="form-control" id="validationDefault02" placeholder="Last name" value="Last name" required>
              </div>
            </div>

            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <input class="form-control" type="tel" value="Phone number" id="example-tel-input">
            </div>
            <div class="form-group">
              <input type="file" class="form-control-file" id="imageUpload" aria-describedby="fileHelp">
              <small id="fileHelp" class="form-text text-muted">Upload an image of your product!</small>
            </div>
          </form>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">
              Submit
            </button>
          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- Modal for featured listings -->
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-capitalize">Item info</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col text-center">
              <img src="img/img-products/product-1.png" class="img-fluid" alt="">

                <h3 class="text-left" id="itemTitle">Item name</h3>
                <h5 class="text-left" id="itemPrice">price</h5>
                <div class="text-left" id="itemDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam maxime incidunt voluptatem delectus necessitatibus, facilis consequatur quidem excepturi dignissimos optio.</div>
                
                <h5 class="text-left">contact</h5>
                <div class="text-left" id="itemSeller">seller email</div>
              
            </div>
          </div>
        </div>

        <!-- jquery -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <!-- bootstrap js -->
        <script src="js/bootstrap.bundle.min.js"></script>
        <!-- script js -->
        <script src="js/app.js"></script>
</body>

</html>