  <header>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"><img src="img/logo.png" alt="logo"></a>
    </nav>
    <!-- end of navbar -->

    <div class="banner-products d-flex align-items-center justify-content-center pl-3 pl-lg-5 text-center">
      <div>
        <h1 class="text-capitalize text-yellow text display-4">Things4Sale</h1>
        <p class="text-muted text-capitalize w-75 mx-auto text-left">Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Sit iste nostrum cupiditate obcaecati aliquid fuga eaque incidunt deserunt inventore beatae!
        </p>
      </div>
    </div>
  </header>

  <!-- products -->
  <section class="products">
    <div class="container-fluid">
      <div class="row">
        <!-- product info -->
        <div class="col-10 col-md-5 col-lg-3 mx-auto my-3 px-5 text-capitalize">
          <!-- categories -->
          <div class="products-categories-title mt-4 mb-4">
            <h6 class="text-uppercase">shop by categories</h6>
            <div class="products-categories-underline"></div>
          </div>
          <!-- single link -->
          <a href="#" class=" d-block products-categories-links">
            <p class="mb-0">kitchen</p>
          </a>
          <!-- single link -->
          <!-- single link -->
          <a href="#" class=" d-block products-categories-links">
            <p class="mb-0">bathroom</p>
          </a>
          <!-- single link -->
          <!-- single link -->
          <a href="#" class=" d-block products-categories-links">
            <p class="mb-0">living room</p>
          </a>
          <!-- single link -->
          <!-- single link -->
          <a href="#" class=" d-block products-categories-links">
            <p class="mb-0">bedroom</p>
          </a>
          <!-- single link -->
          <!-- single link -->
          <a href="#" class="d-block products-categories-links">
            <p class="mb-0">patio</p>
          </a>
           <!-- single link -->
           <a href="#" class=" d-block products-categories-links">
              <p class="mb-0">bedroom</p>
            </a>
            <!-- single link -->
        </div>
        <!-- end of product info -->

        <!-- products  -->
        <div class="col-10 mx-auto col-md-7 col-lg-9 my-3">
          <div class="row">
            <!-- single product -->
            <div class=" col-md-6 col-lg-4 mx-auto my-3">
              <div class="featured-container p-5">
                <img src="img/img-products/product-1.png" class="img-fluid" alt="">
                <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
                  <i class="fas fa-search"></i>
                </span>
                <a href="#" class="featured-store-link text-capitalize">
                  add to cart
                </a>
              </div>
              <h6 class="text-capitalize text-center my-2">special product</h6>
              <h6 class="text-center"><span class="text-muted old-price mx-2">$200.00</span><span>$100.00</span></h6>

            </div>
            <!-- end of single product -->
            <!-- single product -->
            <div class=" col-md-6 col-lg-4 mx-auto my-3">
              <div class="featured-container p-5">
                <img src="img/img-products/product-2.png" class="img-fluid" alt="">
                <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
                  <i class="fas fa-search"></i>
                </span>
                <a href="#" class="featured-store-link text-capitalize">
                  add to cart
                </a>
              </div>
              <h6 class="text-capitalize text-center my-2">special product</h6>
              <h6 class="text-center"><span class="text-muted old-price mx-2">$200.00</span><span>$100.00</span></h6>

            </div>
            <!-- end of single product -->
            <!-- single product -->
            <div class=" col-md-6 col-lg-4 mx-auto my-3">
              <div class="featured-container p-5">
                <img src="img/img-products/product-3.png" class="img-fluid" alt="">
                <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
                  <i class="fas fa-search"></i>
                </span>
                <a href="#" class="featured-store-link text-capitalize">
                  add to cart
                </a>
              </div>
              <h6 class="text-capitalize text-center my-2">special product</h6>
              <h6 class="text-center"><span class="text-muted old-price mx-2">$200.00</span><span>$100.00</span></h6>

            </div>
            <!-- end of single product -->
            <!-- single product -->
            <div class=" col-md-6 col-lg-4 mx-auto my-3">
              <div class="featured-container p-5">
                <img src="img/img-products/product-4.png" class="img-fluid" alt="">
                <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
                  <i class="fas fa-search"></i>
                </span>
                <a href="#" class="featured-store-link text-capitalize">
                  add to cart
                </a>
              </div>
              <h6 class="text-capitalize text-center my-2">special product</h6>
              <h6 class="text-center"><span class="text-muted old-price mx-2">$200.00</span><span>$100.00</span></h6>

            </div>
            <!-- end of single product -->
            <!-- single product -->
            <div class=" col-md-6 col-lg-4 mx-auto my-3">
              <div class="featured-container p-5">
                <img src="img/img-products/product-5.png" class="img-fluid" alt="">
                <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
                  <i class="fas fa-search"></i>
                </span>
                <a href="#" class="featured-store-link text-capitalize">
                  add to cart
                </a>
              </div>
              <h6 class="text-capitalize text-center my-2">special product</h6>
              <h6 class="text-center"><span class="text-muted old-price mx-2">$200.00</span><span>$100.00</span></h6>

            </div>
            <!-- end of single product -->
            <!-- single product -->
            <div class=" col-md-6 col-lg-4 mx-auto my-3">
              <div class="featured-container p-5">
                <img src="img/img-products/product-6.png" class="img-fluid" alt="">
                <span class="featured-search-icon" data-toggle="modal" data-target="#productModal">
                  <i class="fas fa-search"></i>
                </span>
                <a href="#" class="featured-store-link text-capitalize">
                  add to cart
                </a>
              </div>
              <h6 class="text-capitalize text-center my-2">special product</h6>
              <h6 class="text-center"><span class="text-muted old-price mx-2">$200.00</span><span>$100.00</span></h6>

            </div>
            <!-- end of single product -->
          </div>
        </div>
        <!-- end of products  -->
      </div>
    </div>
  </section>
  <!-- end of products -->

  <!-- grey -->
  <section class="grey py-5">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </section>
  <!-- end of grey -->

  <!-- black banner -->
  <section class="blackbanner py-5">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </section>
  <!-- end of blackbanner -->

  <!-- footer -->
  <footer class="py-5 footer">
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto text-center">
          <h1 class="text-uppercase font-weight-bold text-yellow footer-title text-center d-inline-block mx-auto">things4sale</h1>
          <h1 class="text-capitalize font-weight-bold display-4">contact us</h1>
          <div class="footer-icons my-5 d-flex justify-content-center">
            <!-- single icon -->
            <a href="#" class="footer-icon mx-2">
              <i class="fab fa-facebook"></i>
            </a>
            <!-- end of single icon -->
            <!-- single icon -->
            <a href="#" class="footer-icon mx-2">
              <i class="fab fa-twitter"></i>
            </a>
            <!-- end of single icon -->
            <!-- single icon -->
            <a href="#" class="footer-icon mx-2">
              <i class="fab fa-google-plus"></i>
            </a>
            <!-- end of single icon -->
            <!-- single icon -->
            <a href="#" class="footer-icon mx-2">
              <i class="fab fa-instagram"></i>
            </a>
            <!-- end of single icon -->
            <!-- single icon -->
            <a href="#" class="footer-icon mx-2">
              <i class="fab fa-youtube"></i>
            </a>
            <!-- end of single icon -->
          </div>
          <!-- end of footer icons -->
          
          <div class="footer-contact mt-5 d-flex justify-content-around flex-wrap">
            <!-- single contact -->
            <div>
              <p class="text-capitalize">
                <span class="footer-icon mr-2">
                  <i class="fas fa-map"></i>
                </span>
                123 main street, los angeles
              </p>

            </div>
            <!--end of single contact -->
            <!-- single contact -->
            <div>
              <p class="text-capitalize">
                <span class="footer-icon mr-2">
                  <i class="fas fa-phone"></i>
                </span>
                phone : +(310) 111 2222
              </p>

            </div>
            <!--end of single contact -->
            <!-- single contact -->
            <div>
              <p class="text-capitalize">
                <span class="footer-icon mr-2">
                  <i class="fas fa-envelope"></i>
                </span>
                email : email@email.com
              </p>

            </div>
            <!--end of single contact -->
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Modal -->
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-capitalize">product info</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>

          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col text-center">
              <img src="img/img-products/product-1.png" class="img-fluid" alt="">
              
              <h2 class="text-uppercase my-2">premium office armchair</h2>
              <h2>$10.00 - $200.00</h2>
              <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam maxime incidunt
                voluptatem delectus necessitatibus, facilis consequatur quidem excepturi dignissimos optio.</p>
            </div>


          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">close modal</button>
      </div>
    </div>
  </div>
  </div>
