<div class="container-fluid" id="mainCont">
    <div class="container" id="loginCont">
        <div class="row align-items-center" id="login">
            <div class="col-md-2 col-lg-3">
                <!-- Placeholder.-->
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                <h2 class="logAndSign">Log into <span class="siteTitle">Things4Sale</span></h2>
                <h6 class="logAndSign"><a href="signup">Or Create Account</a></h6>
                <br>
                <br>
                <form action="users/authUser" method="POST">
                    <div class="form-group">
                        <input name="emailInput1" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                            anyone else.</small>
                    </div>
                    <div class="form-group">
                        <input name="passInput1" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-outline-primary" id="loginBtn">Log In</button>
                </form>
            </div>
            <div class="col-md-2 col-lg-3">
                <!-- Placeholder.-->
            </div>
        </div>
    </div>
</div>
</div>