<body class="top-banner">
  <div class="container-fluid" id="mainCont">
    <div class="container" id="loginCont">
      <div class="row align-items-center" id="login">
        
          <!-- Placeholder.-->

        <div class="col-sm-12 col-md-8 col-lg-6" id="formStyle">
          <h2 class="logAndSign">Log into <span class="siteTitle">Things4Sale</span></h2>
          <h6 class="logAndSign" id="createAcount"><a href="signup">Or Create Account</a></h6>
          <br>
          <br>
          <form action="users/authUser" method="POST">
            <div class="form-group">
              <input name="emailInput1" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
            </div>
            <div class="form-group">
              <input name="passInput1" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn" id="loginBtn">Log In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>