<div class="container-fluid" id="mainCont">
    <div class="container" id="loginCont">
        <div class="row align-items-center" id="login">
            <div class="col-md-2 col-lg-3">
                <!-- Placeholder.-->
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                <h2>Create Account</h2>
                <h6><a href="login">Already have an account? Log In</a></h6>
                <br>
                <br>
                <form action="users/createUser" method="POST">
                    <div class="form-group">
                        <input name="emailInput" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                            anyone else.</small>
                    </div>
                    <div class="form-group">
                        <input name="passInput" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-outline-primary" id="create">Create Account</button>
                </form>
            </div>
            <div class="col-md-2 col-lg-3">
                <!-- Placeholder.-->
            </div>
        </div>
    </div>
</div>
</div>