
/* This is the main.handlebars body CSS. */
#mainBody {
    background-color: black;
    color: white;
}
/* This is the end of the main.handlebars block. */

/* This block of code is for the login.handlebars/signup.handlebars files. */
.loginCont, #login {
    width: 100%;
    margin-top: 10%;
}

.siteTitle {
    font-family: 'Pacifico', cursive;
    font-size: 135%;
}

.logAndSign {
    text-align: center;
}

#signupBtn, #loginBtn {
    float: right;
}
/* End of the login/signup block. */
